flows.json
[{"id":"4d928388.34713c","type":"ui_slider","z":"3eb563f4.6d4ebc","name":"","label":"Servo1","tooltip":"","group":"9a50a3b3.867","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"900","max":"1630","step":"1","x":380,"y":400,"wires":[["6138c868.f1a438"]]},{"id":"181ba5b8.02e47a","type":"debug","z":"3eb563f4.6d4ebc","name":"","active":true,"console":"false","complete":"false","x":1210,"y":560,"wires":[]},{"id":"6b8268f7.66ef78","type":"http request","z":"3eb563f4.6d4ebc","name":"Update Request","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.us-east-1.mbedcloud.com/v2/device-requests/017328b713386aa761d6b4e400300000?async-id=update-position","tls":"","persist":false,"proxy":"","authType":"bearer","x":1021,"y":560,"wires":[["181ba5b8.02e47a"]]},{"id":"3e93e49a.d58c2c","type":"function","z":"3eb563f4.6d4ebc","name":"Positioner 0","func":"msg.payload = {\n    \"method\": \"PUT\",\n    \"uri\": \"/3337/0/5536\",\n    \"accept\": \"text/plain\",\n    \"content-type\": \"text/plain\",\n    \"payload-b64\": msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":400,"wires":[["6b8268f7.66ef78"]]},{"id":"6138c868.f1a438","type":"base64","z":"3eb563f4.6d4ebc","name":"","action":"str","property":"payload","x":520,"y":400,"wires":[["3e93e49a.d58c2c"]]},{"id":"57f29b51.b20664","type":"ui_slider","z":"3eb563f4.6d4ebc","name":"","label":"Servo2","tooltip":"","group":"9a50a3b3.867","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"900","max":"2000","step":"1","x":380,"y":460,"wires":[["1798ca7f.541bf6"]]},{"id":"73e867c6.405fe8","type":"function","z":"3eb563f4.6d4ebc","name":"Positioner 1","func":"msg.payload = {\n    \"method\": \"PUT\",\n    \"uri\": \"/3337/1/5536\",\n    \"accept\": \"text/plain\",\n    \"content-type\": \"text/plain\",\n    \"payload-b64\": msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":460,"wires":[["6b8268f7.66ef78"]]},{"id":"cbac04e2.2240f8","type":"ui_slider","z":"3eb563f4.6d4ebc","name":"","label":"Servo3","tooltip":"","group":"9a50a3b3.867","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"900","max":"2000","step":"1","x":380,"y":520,"wires":[["4f1edd27.62eb14"]]},{"id":"e7cc5b63.b1ac28","type":"function","z":"3eb563f4.6d4ebc","name":"Positioner 2","func":"msg.payload = {\n    \"method\": \"PUT\",\n    \"uri\": \"/3337/2/5536\",\n    \"accept\": \"text/plain\",\n    \"content-type\": \"text/plain\",\n    \"payload-b64\": msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":520,"wires":[["6b8268f7.66ef78"]]},{"id":"47e6e79e.e77418","type":"ui_slider","z":"3eb563f4.6d4ebc","name":"","label":"Servo4","tooltip":"","group":"9a50a3b3.867","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"900","max":"1800","step":"1","x":380,"y":580,"wires":[["a47ceb51.d89b78"]]},{"id":"84253783.7ee488","type":"function","z":"3eb563f4.6d4ebc","name":"Positioner 3","func":"msg.payload = {\n    \"method\": \"PUT\",\n    \"uri\": \"/3337/3/5536\",\n    \"accept\": \"text/plain\",\n    \"content-type\": \"text/plain\",\n    \"payload-b64\": msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":580,"wires":[["6b8268f7.66ef78"]]},{"id":"67d3ecb1.a93ac4","type":"ui_slider","z":"3eb563f4.6d4ebc","name":"","label":"Servo5","tooltip":"","group":"9a50a3b3.867","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"900","max":"1800","step":"1","x":380,"y":640,"wires":[["427d154c.77e68c"]]},{"id":"ff6223dc.9268c","type":"function","z":"3eb563f4.6d4ebc","name":"Positioner 4","func":"msg.payload = {\n    \"method\": \"PUT\",\n    \"uri\": \"/3337/4/5536\",\n    \"accept\": \"text/plain\",\n    \"content-type\": \"text/plain\",\n    \"payload-b64\": msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":640,"wires":[["6b8268f7.66ef78"]]},{"id":"c38e435a.5d297","type":"ui_slider","z":"3eb563f4.6d4ebc","name":"","label":"Servo6","tooltip":"","group":"9a50a3b3.867","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"900","max":"1800","step":"1","x":380,"y":700,"wires":[["96c2d0e1.eff9"]]},{"id":"a64b184e.3c8d38","type":"function","z":"3eb563f4.6d4ebc","name":"Positioner 5","func":"msg.payload = {\n    \"method\": \"PUT\",\n    \"uri\": \"/3337/5/5536\",\n    \"accept\": \"text/plain\",\n    \"content-type\": \"text/plain\",\n    \"payload-b64\": msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":700,"wires":[["6b8268f7.66ef78"]]},{"id":"1798ca7f.541bf6","type":"base64","z":"3eb563f4.6d4ebc","name":"","action":"str","property":"payload","x":520,"y":460,"wires":[["73e867c6.405fe8"]]},{"id":"4f1edd27.62eb14","type":"base64","z":"3eb563f4.6d4ebc","name":"","action":"str","property":"payload","x":520,"y":520,"wires":[["e7cc5b63.b1ac28"]]},{"id":"a47ceb51.d89b78","type":"base64","z":"3eb563f4.6d4ebc","name":"","action":"str","property":"payload","x":520,"y":580,"wires":[["84253783.7ee488"]]},{"id":"427d154c.77e68c","type":"base64","z":"3eb563f4.6d4ebc","name":"","action":"str","property":"payload","x":520,"y":640,"wires":[["ff6223dc.9268c"]]},{"id":"96c2d0e1.eff9","type":"base64","z":"3eb563f4.6d4ebc","name":"","action":"str","property":"payload","x":520,"y":700,"wires":[["a64b184e.3c8d38"]]},{"id":"fda5a7d9.7ce8a8","type":"inject","z":"3eb563f4.6d4ebc","name":"","topic":"","payload":"1500","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":560,"wires":[["4d928388.34713c","57f29b51.b20664","cbac04e2.2240f8","47e6e79e.e77418","67d3ecb1.a93ac4","c38e435a.5d297"]]},{"id":"7e6d0390.5eb88c","type":"ui_button","z":"3eb563f4.6d4ebc","name":"GroupAction1","group":"7e9c6a7d.450174","order":0,"width":0,"height":0,"passthru":true,"label":"Group Action 1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":360,"y":780,"wires":[["aae799cb.97e5e8"]]},{"id":"6c375ac.a984ea4","type":"inject","z":"3eb563f4.6d4ebc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":780,"wires":[["7e6d0390.5eb88c"]]},{"id":"8eb2c2fd.6818","type":"ui_button","z":"3eb563f4.6d4ebc","name":"GroupAction2","group":"7e9c6a7d.450174","order":0,"width":0,"height":0,"passthru":true,"label":"Group Action 2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"","x":360,"y":820,"wires":[["ab09e95b.292048"]]},{"id":"969f3d76.a3bc8","type":"inject","z":"3eb563f4.6d4ebc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":820,"wires":[["8eb2c2fd.6818"]]},{"id":"32059a2c.a64d76","type":"ui_button","z":"3eb563f4.6d4ebc","name":"GroupAction3","group":"7e9c6a7d.450174","order":0,"width":0,"height":0,"passthru":true,"label":"Group Action 3","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"num","topic":"","x":360,"y":860,"wires":[["788b904f.63f16"]]},{"id":"d584fd4a.90ac5","type":"inject","z":"3eb563f4.6d4ebc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":860,"wires":[["32059a2c.a64d76"]]},{"id":"59b2adef.11db54","type":"function","z":"3eb563f4.6d4ebc","name":"Group Action","func":"msg.payload = {\n    \"method\": \"POST\",\n    \"uri\": \"/10315/0/7\",\n    \"payload-b64\": msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":860,"wires":[["6b8268f7.66ef78"]]},{"id":"aae799cb.97e5e8","type":"base64","z":"3eb563f4.6d4ebc","name":"","action":"str","property":"payload","x":520,"y":780,"wires":[["59b2adef.11db54"]]},{"id":"ab09e95b.292048","type":"base64","z":"3eb563f4.6d4ebc","name":"","action":"str","property":"payload","x":520,"y":820,"wires":[["59b2adef.11db54"]]},{"id":"788b904f.63f16","type":"base64","z":"3eb563f4.6d4ebc","name":"","action":"str","property":"payload","x":520,"y":860,"wires":[["59b2adef.11db54"]]},{"id":"5b4d3b95.5ad924","type":"ui_button","z":"3eb563f4.6d4ebc","name":"GroupAction4","group":"7e9c6a7d.450174","order":0,"width":0,"height":0,"passthru":true,"label":"Group Action 4","tooltip":"","color":"","bgcolor":"","icon":"","payload":"4","payloadType":"num","topic":"","x":360,"y":900,"wires":[["4ed1eb2c.d94e14"]]},{"id":"8388acfa.d7327","type":"inject","z":"3eb563f4.6d4ebc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":900,"wires":[["5b4d3b95.5ad924"]]},{"id":"4ed1eb2c.d94e14","type":"base64","z":"3eb563f4.6d4ebc","name":"","action":"str","property":"payload","x":520,"y":900,"wires":[["59b2adef.11db54"]]},{"id":"28730bcb.2be234","type":"ui_button","z":"3eb563f4.6d4ebc","name":"GroupAction5","group":"7e9c6a7d.450174","order":0,"width":0,"height":0,"passthru":true,"label":"Group Action 5","tooltip":"","color":"","bgcolor":"","icon":"","payload":"5","payloadType":"num","topic":"","x":360,"y":940,"wires":[["9a14ba8c.b0dbc8"]]},{"id":"f442a725.cca688","type":"inject","z":"3eb563f4.6d4ebc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":940,"wires":[["28730bcb.2be234"]]},{"id":"9a14ba8c.b0dbc8","type":"base64","z":"3eb563f4.6d4ebc","name":"","action":"str","property":"payload","x":520,"y":940,"wires":[["59b2adef.11db54"]]},{"id":"49996357.11c7fc","type":"ui_button","z":"3eb563f4.6d4ebc","name":"GroupAction6","group":"7e9c6a7d.450174","order":0,"width":0,"height":0,"passthru":true,"label":"Group Action 6","tooltip":"","color":"","bgcolor":"","icon":"","payload":"6","payloadType":"num","topic":"","x":360,"y":980,"wires":[["d4ae3ba5.ffa838"]]},{"id":"4fdd70fe.7848a","type":"inject","z":"3eb563f4.6d4ebc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":980,"wires":[["49996357.11c7fc"]]},{"id":"d4ae3ba5.ffa838","type":"base64","z":"3eb563f4.6d4ebc","name":"","action":"str","property":"payload","x":520,"y":980,"wires":[["59b2adef.11db54"]]},{"id":"9a50a3b3.867","type":"ui_group","z":"","name":"Servo Control","tab":"244c7271.0b95ee","order":1,"disp":true,"width":"20","collapse":true},{"id":"7e9c6a7d.450174","type":"ui_group","z":"","name":"Group Control","tab":"244c7271.0b95ee","order":2,"disp":true,"width":"6","collapse":false},{"id":"244c7271.0b95ee","type":"ui_tab","z":"","name":"6DoF-Robot","icon":"dashboard","disabled":false,"hidden":false}]